:root {
  --primary: #25c866;
  --interactive: #0076f3;
  --white: #fff;
  --secondary: #7e8088;
  --surface: #11150f;
  --red: #d33535;
  --remake: #f5c738;
  --line: #393737;
  --menuDark: #222223;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--surface);
  color: var(--secondary);
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--white);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover, a:focus, a.active {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 900;
}

h1 {
  font-size: 34px;
  line-height: 41px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-size: 22px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--white);
}

h5 {
  font-weight: 600;
}

button {
  border: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  width: 100%;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  color: var(--primary);
  background-color: var(--white);
  border-color: var(--white);
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--menuDark);
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: var(--white);
}

textarea::placeholder,
input::placeholder {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

textarea {
  height: 160px;
  padding: 13px 12px;
}

label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--secondary);
}

.tf-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.mw-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.bg-surface {
  background-color: var(--surface);
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-white {
  color: var(--white) !important;
}

.text-large {
  font-size: 16px;
  line-height: 26px;
}

.text-button {
  font-size: 16px;
  line-height: 21px;
}

.text-small {
  font-size: 14px;
  line-height: 18px;
}

.text-xsmall {
  font-size: 11px;
  line-height: 13px;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr--20 {
  margin-right: -20px;
}

.mb--50 {
  margin-bottom: -50px;
}

.p-10 {
  padding: 10px;
}

.p-16 {
  padding: 16px;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 44px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-65 {
  padding-top: 65px;
}

.line-bt {
  border-bottom: 1px solid var(--line);
}

.line4-bt {
  border-bottom: 4px solid var(--surface);
}

.line-r {
  border-right: 1px solid var(--line);
}

.line-4 {
  height: 4px;
  background-color: #eef0f3;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gap-4 {
  gap: 4px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-20 {
  gap: 20px;
}

.lr-radius {
  border-radius: 12px 12px 0px 0px;
}

.radius-4 {
  border-radius: 4px;
}

.mh-full {
  min-height: 100vh;
}

.rolate-90 {
  transform: rotate(90deg);
}

.header {
  height: 45px;
}
.header .left {
  position: absolute;
  left: 16px;
  min-width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
}
.header .right {
  right: 16px;
  position: absolute;
  min-width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 1020;
  max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.tf-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.tf-btn.primary {
  background-color: var(--primary);
  color: var(--white);
}
.tf-btn.primary:hover {
  background-color: var(--white);
  color: var(--primary);
}
.tf-btn.secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.tf-btn.lg {
  padding: 14px 0px;
}
.tf-btn.md {
  padding: 12px 0px;
}
.tf-btn.sm {
  padding: 10px 0px;
  border-radius: 6px;
}
.tf-btn.xs {
  padding: 8px 0px;
  border-radius: 6px;
}
.tf-btn.dark {
  background-color: var(--menuDark);
  color: var(--white);
}
.tf-btn.social {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border-radius: 12px;
}

.box-auth-pass {
  position: relative;
}

.form-select {
  padding: 12px;
  background-color: var(--surface);
  border: 1px solid var(--white);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: var(--secondary);
}
.form-select:focus {
  border-color: var(--white);
  box-shadow: unset;
}

.show-pass,
.show-pass2 {
  position: absolute;
  right: 16px;
  top: 19px;
  cursor: pointer;
}
.show-pass .icon-view,
.show-pass2 .icon-view {
  display: none;
}
.show-pass i,
.show-pass2 i {
  font-size: 14px;
}
.show-pass.active .icon-view,
.show-pass2.active .icon-view {
  display: inline-block;
}
.show-pass.active .icon-view-hide,
.show-pass2.active .icon-view-hide {
  display: none;
}

.label-ip {
  width: 100%;
}

.label-ip:focus-within {
  color: var(--white);
}

.digit-group {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.digit-group input {
  width: 58px;
  height: 58px;
  padding: 8px;
  text-align: center;
  background-color: var(--surface);
  border: 1px solid var(--line);
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
}

.footer {
  background: #fff;
}
.footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menubar-footer {
  padding: 12px 20px 20px;
}
.menubar-footer.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
.menubar-footer .inner-bar {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.menubar-footer .inner-bar li {
  padding: 0 0;
  width: 20%;
}
.menubar-footer .inner-bar li a {
  color: #7e8088;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}
.menubar-footer .inner-bar li.active a {
  color: #25c866;
  font-weight: 600;
}

.wrap-swiper .btn-slider {
  flex-shrink: 0;
  margin-right: 8px;
}

.cate-swiper {
  margin-left: unset;
  margin-right: unset;
}
.cate-swiper .swiper-slide {
  width: auto;
}
.cate-swiper .swiper-slide.active .categories-item {
  color: #fff;
  background-color: #25c866;
  border-color: #25c866;
}
.cate-swiper .swiper-slide.active .categories-item svg path {
  stroke: #fff;
}
.cate-swiper .swiper-slide-active .cate-item {
  color: #fff;
  background-color: #25c866;
  border-color: #25c866;
}
.cate-swiper .swiper-slide-active .cate-item svg path {
  fill: #fff;
}

.swiper-wrapper-r {
  margin-right: -20px;
}

.categories-item {
  padding: 7px 12px;
  border-radius: 1000px;
  border: 1px solid #393737;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #7e8088;
  display: inline-flex;
  align-items: center;
}
.categories-item svg {
  margin-right: 4px;
}
.categories-item.st2 {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}
.categories-item.time-st.active, .categories-item.active {
  background-color: #25c866;
  color: #fff;
  border-color: #25c866;
}

.cate-item {
  padding: 7px 16px;
  background-color: #11150f;
  display: inline-flex;
  align-items: center;
  color: #11150f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 100px;
  gap: 8px;
}

.favourite-swiper .swiper-slide {
  width: auto;
}
.favourite-swiper .wd-dir-store img {
  width: 242px;
  height: 100px;
}

.banner-store-sw .left img {
  width: 157px;
  height: 156px;
  border-radius: 10px;
}
.banner-store-sw .group-img a {
  display: block;
}
.banner-store-sw .group-img a:first-child {
  margin-bottom: 4px;
}
.banner-store-sw .group-img img {
  width: 98px;
  height: 76px;
  border-radius: 10px;
}
.banner-store-sw .right img {
  width: 157px;
  height: 156px;
  border-radius: 10px;
}

.dots-tes {
  position: unset;
}
.dots-tes .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #b9b9bf;
  opacity: 0.5;
}
.dots-tes .swiper-pagination-bullet-active {
  background-color: #25c866;
  opacity: 1;
  width: 28px;
  border-radius: 30px;
}

.modal.action-sheet {
  z-index: 5000;
}
.modal.action-sheet .modal-dialog {
  padding: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  transform: translate(0, 100%);
  max-width: 100%;
  margin: 20px;
}
.modal.action-sheet.show .modal-dialog {
  transform: translate(0, 0);
}
.modal.action-sheet .modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 30px 30px 0px 0px;
  padding: 20px;
}
.modal.action-sheet .filter-content {
  height: 80vh;
  overflow: auto;
}
.modal.action-sheet .modal-setting {
  pointer-events: auto;
}
.modal.action-sheet .modal-setting .heading {
  border-radius: 12px;
  background-color: #fff;
}
.modal.action-sheet .modal-setting .heading li a {
  display: block;
  padding: 16px;
  color: #11150f;
  text-align: center;
}
.modal.action-sheet .modal-setting .heading li:not(:last-child) {
  border-bottom: 1px solid #393737;
}
.modal.action-sheet .modal-setting .bottom {
  border-radius: 12px;
  background-color: #fff;
  padding: 12px 0px;
}
.modal.full .modal-dialog {
  margin: 0;
}
.modal.full .modal-newfeed {
  border-radius: 12px 12px 0px 0px;
  background: #fff;
  pointer-events: auto;
}
.modal.full .modal-newfeed .icon-cancel {
  font-size: 20px;
  color: #11150f;
}
.modal.full .modal-newfeed .heading {
  padding: 20px;
  border-bottom: 1px solid #393737;
}
.modal.full .modal-newfeed .bottom {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.modal.modalRight .modal-dialog {
  transform: translate(100%, 0) !important;
  min-width: 100%;
  margin: 0;
  transition: 0.5s all !important;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.modal.modalRight .modal-dialog .modal-content {
  border-radius: 0;
  border: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.modal.modalRight .modal-dialog .modal-content .modal-body {
  overflow: auto;
  padding: 0;
  padding-bottom: 30px;
}
.modal.modalRight.show .modal-dialog {
  transform: translate(0, 0) !important;
}
.modal.modalRight .modal-filter {
  overflow: auto;
}
.modal.modalCenter .modal-dialog-centered {
  margin: 0 52px;
  max-width: 100%;
}
.modal.fade {
  transition: opacity 0.3s linear;
}
.modal .pwa-content {
  padding: 30px 0px;
  pointer-events: auto;
}
.modal .pwa-content .top {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.modal .pwa-content .pwa-logo {
  max-width: 60px;
}
.modal .pwa-content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 12px;
}
.modal .pwa-content .group-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.modal .pwa-content .group-btn .tf-btn {
  padding: 10px 12px;
  border-radius: 6px;
  font-weight: 500;
  line-height: 1;
  font-size: 12px;
  width: unset;
  display: inline-flex;
}
.modal .pwa-content .group-btn .btn-dismiss {
  background: #e6ecec;
}
.modal .modal-content {
  border: none;
  border-radius: 14px;
}
.modal .modal-header {
  padding: 0;
  border: none;
}
.modal .modal-header span {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.modal-backdrop {
  background-color: #11150f;
}
.modal-backdrop.show {
  opacity: 0.25;
}

.socials-login .tf-btn.social img {
  width: 20px;
  height: 20px;
}

.auth-line {
  font-size: 16px;
  line-height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-line::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 42%;
  background-color: var(--line);
}
.auth-line::after {
  content: "";
  position: absolute;
  right: 0;
  width: 42%;
  height: 1px;
  background-color: var(--line);
}

.cb-signup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tf-checkbox {
  position: relative;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 2px;
  cursor: pointer;
  outline: 0;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tf-checkbox::before {
  content: "\e923";
  position: absolute;
  font-family: "icomoon";
  font-size: 8px;
  margin-top: -1px;
  color: var(--surface);
}
.tf-checkbox:checked {
  background-color: var(--surface);
}

.theme-light {
  --primary: #25c866;
  --interactive: #0076f3;
  --white: #fff;
  --secondary: #7e8088;
  --surface: #11150f;
  --red: #d33535;
  --remake: #f5c738;
  --line: #393737;
  --menuDark: #f2f2fa;
}

.theme-light {
  background-color: #fff;
  color: #7e8088;
}

/*# sourceMappingURL=styles.css.map */
