.theme-light {
    --primary: #25c866;
    --interactive: #0076f3;
    --white: #fff;
    --secondary: #7e8088;
    --surface: #11150f;
    --red: #d33535;
    --remake: #f5c738;
    --line: #393737;
    --menuDark: #f2f2fa;
}
.theme-light {
    background-color: $white;
    color: $secondary;
}
