.tf-checkbox {
    position: relative;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    @include flex(center, center);
    &::before {
        content: "\e923";
        position: absolute;
        font-family: $fontIcon;
        font-size: 8px;
        margin-top: -1px;
        color: var(--surface);
    }
    &:checked {
        background-color: var(--surface);
    }
}

.box-account {
    display: flex;
    align-items: center;
    gap: 8px;
    .avt {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }
}

.tf-list-item {
    font-size: 14px;
    line-height: 18px;
    .box-round {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .icon {
        color: var(--white);
        font-size: 32px;
    }
}
.coin-item {
    display: flex;
    align-items: center;
    &.style-1 {
        padding: 12px;
        border-radius: 10px;
        .img {
            width: 40px;
            height: 40px;
            border-radius: 100px;
        }
    }
    .content {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.noti-item {
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    .dot-lg {
        flex-shrink: 0;
        margin-top: 5px;
    }
}
.dot-lg {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50px;
}
.arr-right {
    width: 30px;
    height: 30px;
    @include flex(center, flex-end);
}
