.tf-checkbox {
    position: relative;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    @include flex(center, center);
    &::before {
        content: "\e923";
        position: absolute;
        font-family: $fontIcon;
        font-size: 8px;
        margin-top: -1px;
        color: var(--surface);
    }
    &:checked {
        background-color: var(--surface);
    }
    &.style-2 {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        &:checked {
            border: 1px solid var(--secondary);
        }
        &::before {
            font-size: 6px;
        }
    }
}
.tf-switch-check {
    position: relative;
    height: 20px;
    width: 38px;
    -webkit-appearance: none;
    background: var(--secondary2);
    border-radius: 100px;
    transition: 0.5s;
    margin-right: 0;

    &::before {
        content: "";
        border-radius: 100px;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: var(--white);
        transition: 0.5s;
    }
    &:checked:checked[type="checkbox"] {
        background: var(--primary);
        transition: 0.5s;
        &::before {
            background: var(--white);
            left: 20px;
        }
    }
}
.tf-radio {
    position: relative;
    background-color: var(--surface);
    border-radius: 50px;
    cursor: pointer;
    outline: 0;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    &:checked {
        border: 4px solid var(--surface);
        background-color: var(--primary);
    }
}

.box-account {
    display: flex;
    align-items: center;
    gap: 8px;
    .avt {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }
}

.tf-list-item {
    font-size: 14px;
    line-height: 18px;
    .box-round {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .icon {
        color: var(--white);
        font-size: 32px;
    }
}
.tf-list-item-v2 {
    padding: 16px;
    border-radius: 8px;
    @include flex(center, space-between);
}
.coin-item {
    display: flex;
    align-items: center;
    &.style-1 {
        padding: 12px;
        border-radius: 10px;
        .img {
            width: 40px;
            height: 40px;
            border-radius: 100px;
        }
    }
    .content {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.noti-item {
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    .dot-lg {
        flex-shrink: 0;
        margin-top: 5px;
    }
}
.dot-lg {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50px;
}
.dot-md {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50px;
}
.arr-right {
    width: 30px;
    height: 30px;
    @include flex(center, flex-end);
}
.listview-item-check-style2,
.listview-item-check {
    padding: 10px 16px;
    &.active {
        color: var(--primary);
        background-color: var(--line);
        position: relative;
        .icon {
            display: block;
        }
    }
    .icon {
        color: var(--primary);
        font-size: 24px;
        display: none;
    }
}
.listview-item-check-style2 {
    color: var(--white);
    &.active {
        background-color: var(--surface);
    }
}
.accent-box{
    padding: 20px 16px;
    border-radius: 10px;
}
.icon-round-check {
    position: relative;
    border-radius: 50%;
    @include flex(center, center);
    &::before{
        position: absolute;
        content: "\e923";
        font-family: $fontIcon;
        font-size: 8px;
    }
    &.xs {
        width: 16px;
        height: 16px;
    }
}