.socials-login {
    .tf-btn {
        &.social {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
.auth-line {
    font-size: 16px;
    line-height: 26px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        width: 42%;
        background-color: var(--line);
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 42%;
        height: 1px;
        background-color: var(--line);
    }
}
.cb-signup {
    display: flex;
    align-items: center;
    gap: 8px;
}
