.box-img-profile {
    width: 96px;
    height: 96px;
    position: relative;
    .icon-camera {
        position: absolute;
        top: 66px;
        right: 3px;
        width: 23px;
        height: 23px;
        background-color: $primary;
        font-size: 10px;
        border-radius: 100px;
        @include flex(center, center);
    }
    &.md {
        width: 80px;
        height: 80px;
        .icon-camera {
            top: 55px;
            right: 0px;
        }
    }
}

.box-latest-review {
    .box-img {
        display: flex;
        gap: 8px;
        img {
            width: 60px;
            border-radius: 4px;
        }
    }
}

.box-btn-profile {
    .tf-btn {
        border-radius: 4px;
        padding: 11px;
        color: $onSurface;
        font-weight: 400;
    }
    .icon {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        @include flex(center, center);
        font-size: 20px;
        color: $onSurface;
        border-radius: 3px;
        background: #e6e6e6;
    }
}
.box-photo-cf {
    position: relative;
    .text-cf {
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // white-space: nowrap;
    }
}
