.tf-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    gap: 8px;
    border-radius: 100px;
    padding: 12px;
    @include flex(center, center);
    width: 100%;
    &.primary {
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
    &.secondary {
        background-color: $line;
        color: $secondary;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        .icon-google {
            width: 20px;
            height: 20px;
        }
    }
    &.xsmall {
        border-radius: 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    &.line {
        border: 1px solid $line;
    }
    &.lh-md {
        font-weight: 500;
    }

}
.lg-zoom-in {
    display: none;
}
.btn-direction {
    padding: 8px 12px 8px 8px;
    border-radius: 100px;
    background-color: $surface;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $primary;
}
.btn-slider {
    width: 32px;
    height: 32px;
    border: 1px solid $line;
    border-radius: 100px;
    display: inline-block;
    @include flex(center, center);
}
.btn-showmore {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $primary;
    text-decoration: underline;
    &:focus,
    &:hover {
        color: $primary;
    }
}
.btn-find {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid $blue-primary;
    color: $blue-primary;
    @include flex(center, center);
    font-size: 12px;
}
.btn-add {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid $primary;
    color: $primary;
    @include flex(center, center);
    font-size: 14px !important;
}
