
.swiper-wrapper-r {
    margin-right: -16px;
}

.tf-swiper {

    .menu-tab-v3{
        gap: 0;
        border: 0;
        .swiper-slide{
            width: auto;
            .icon-star {
                color: var(--remake);
            }
        }
    }
    &.market-swiper{
        position: relative;
        &::after{
            position: absolute;
            bottom: 0;
            content: "";
            width: 97%;
            height: 1px;
            background-color: var(--line);
        }
    }
}

.dots-tes {
    position: unset;
    .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        background-color: #b9b9bf;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        background-color: $primary;
        opacity: 1;
        width: 28px;
        border-radius: 30px;
    }
}
