.box-auth-pass {
    position: relative;
}

.tf-select {
    position: relative;
    padding: 12px 16px;
    background-color: var(--menuDark);
    border: 1px solid var(--menuDark);
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary);
    background-image: unset;
    &:focus {
        border-color: var(--menuDark);
    }
  
}
.select-wrapper {
    position: relative;
    &::after {
        content: "\e91a";
        position: absolute;
        font-family: $fontIcon;
        font-size: 12px;
        top: 18px;
        right: 16px;
        color: var(--white);
    }
}

.show-pass,
.show-pass2 {
    position: absolute;
    right: 16px;
    top: 19px;
    cursor: pointer;
    .icon-view {
        display: none;
    }
    i {
        font-size: 14px;
        color: var(--white);
    }
    &.active {
        .icon-view {
            display: inline-block;
        }
        .icon-view-hide {
            display: none;
        }
    }
}
.label-ip {
    width: 100%;
 
    .tf-select:focus{
        border-color: var(--white);
    }
}
.label-ip:focus-within {
    color: var(--white);
}

.digit-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    input {
        width: 58px;
        height: 58px;
        padding: 8px;
        text-align: center;
        background-color: var(--surface);
        border: 1px solid var(--line);
        font-size: 22px;
        font-weight: 600;
        line-height: 34px;
    }
}
