.header {
    height: 45px;
    .left {
        position: absolute;
        left: 16px;
        min-width: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        
    }
    .right {
        right: 16px;
        position: absolute;
        min-width: 40px;
        height: 45px;
        @include flex(center, flex-end);
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 1020;
    max-width: 1024px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
