//settings
$font-main-size: 12px;
$font-main-line: 16px;
$font-main-family: "Poppins", sans-serif;
$fontIcon: "icomoon";

$h1-fs: 34px;
$h1-lh: 41px;
$h2-fs: 28px;
$h2-lh: 34px;
$h3-fs: 22px;
$h3-lh: 28px;
$h4-fs: 20px;
$h4-lh: 25px;
$h5-fs: 18px;
$h5-lh: 22px;
// color
$primary: #2dc28d;
$blue-primary: #0076f3;
$white: #fff;
$secondary: #6c6c78;
$onSurface: #131317;
$line: #e5e5e5;
$primary-2: #093726;
$critical: #eb5a5a;
$warning: #fabe3c;
$success: #188038;
$surface: #f5f5f5;
