//settings
$font-main-size: 12px;
$font-main-line: 16px;
$font-main-family: "Poppins", sans-serif;
$fontIcon: "icomoon";

$h1-fs: 34px;
$h1-lh: 41px;
$h2-fs: 28px;
$h2-lh: 34px;
$h3-fs: 22px;
$h3-lh: 34px;
$h4-fs: 20px;
$h4-lh: 25px;
$h5-fs: 18px;
$h5-lh: 22px;
// color
$primary: #25c866;
$interactive: #0076f3;
$white: #fff;
$secondary: #7e8088;
$surface: #11150f;
$red: #d33535;
$remake: #f5c738;
$line: #393737;
$menuDark: #222223;

:root {
    --primary: #25c866;
    --interactive: #0076f3;
    --white: #fff;
    --secondary: #7e8088;
    --surface: #11150f;
    --red: #d33535;
    --critical: #f53966;
    --remake: #f5c738;
    --line: #393737;
    --menuDark: #222223;
    --backdrop: #161616;
    --shadow1: 0px 5.31717px 13.29293px 0px rgba(0, 0, 0, 0.05);
}
